/* home-02 */
.hero-home-2 {
    background-image: url('../images/hero-bg-home-2.png');
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    img.hero-3d-home-2 {
        width: auto;
        position: absolute;
        bottom: 0;
        left: 10%;
        z-index: -1;
        @include tablet {
            display: none;
        }
        @include all-phone {
            display: none;
        }
    }
    .hero-content-box-2 {
        padding: 220px 0 120px;
        .title-tag {
            padding: 12px 50px;
            background-image: linear-gradient(to right, rgba($black-color, 0.2), rgba($white-color, .2));
            border-radius: 15px;
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(3px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 30px;
            display: inline-block;
            margin-bottom: 20px;
            animation: 1.5s fadeInUp;
        }
    }
    h1 {
        animation: 1.5s fadeInUp;
        span {
            color: $primary-color;
        }
    }
    p {
        max-width: 80%;
        margin: 20px auto 30px;
        animation: 1.5s fadeInDown;
    }
    .hero-btn-group-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        animation: 1.5s fadeInDown;
        .hero-video-wrapper a {
            color: $primary-color;
            font-size: 18px;
            font-weight: 500;
            text-transform: capitalize;
        }
        .hero-video-wrapper a .video-btn {
            width: 24px;
            height: 24px;
            font-size: 16px;
            line-height: 25px;
            color: $secondary-color;
            background-color: $primary-color;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            margin-right: 5px;
            padding-left: 2px; 
        }
    }
    .hero-social-2 {
        background-image: linear-gradient(to right, rgba($white-color, 0.2), rgba($black-color, .2));
        border-radius: 20px;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border: 1px solid rgba(255, 255, 0, 0.1);
        display: inline-block;
        margin-top: 80px;
        padding: 15px 24px;
        animation: 2.5s fadeInRight;
        li {
            display: inline;
            margin: 0 15px;
            a {
                display: inline-block;
                padding: 5px 10px;
                color: $white-color;
                background-color: transparent;
                font-size: 18px;
                font-weight: 500;
                text-transform: capitalize;
                transition: $transition;
                border-radius: 3px;
                &:hover {
                    color: $secondary-color;
                    background-color: $primary-color;
                }
            }
        }
    }
}

.marquee-home-2 {
    padding: 15px 0 10px;
    background-color: $black-color;
    .marque-bg {
        h4 {
            color: $home-2-text-color;
            font-size: 68px;
            font-weight: 700;
            @include all-phone {
                font-size: 60px;
            }
            span {
                display: inline-block;
                margin: 0 60px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 12px;
                    left: -80px;
                    width: 60px;
                    height: 60px;
                    background-image: url('../images/marquee-vector-home-2.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    @include all-phone {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

.about-home-2 {
    background-color: $black-color;
    .about-content {
        @include tablet {
            margin-top: 50px;
        }
        @include all-phone {
            margin-top: 40px;
        }
    }
    ul.about-list {
        margin-top: 20px;
        li {
            color: $heading-color;
            position: relative;
            padding-left: 30px;
            margin: 10px 0;
            font-size: 20px;
            &::before {
                content: '';
                position: absolute;
                top: 4px;
                left: 0;
                width: 20px;
                height: 20px;
                background-image: url('../images/about-list-icon.png');
                background-repeat: no-repeat;
            }
        }
    }
}

.section-top-2 {
    span.title-tag {
        display: inline-block;
        color: $primary-color;
        text-transform: capitalize;
        padding: 3px 10px;
        border: 1px solid $primary-color;
        border-radius: 30px;
        margin-bottom: 30px;
    }
    h2 {
        color: $home-2-text-color;
        span {
            color: $white-color;
        }
    }
}

.counter-home-2 {
    background-color: $black-color;
}

.counter-single-2 {
    position: relative;
    background-color: transparent;
    text-align: center;
    margin: 0 auto 30px;
    max-width: 230px;
    transition: $transition;
    height: auto;
    border: 1px solid $border-color;
    border-radius: 20px;
    padding: 30px 0;
    line-height: 0;
    &:hover {
        background-color: rgba($primary-color, .1);
        border: 1px solid $primary-color;
        span.counter,
        span.plus-sign {
            color: $primary-color;
            -webkit-text-fill-color: $primary-color;
            -webkit-text-stroke-width: 0px;
        }
        h6 {
            color: $primary-color;
        }
    }
    span.counter,
    span.plus-sign {
        color: $white-color;
        font-size: 72px;
        line-height: 72px;
        font-weight: 700;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        transition: $transition;
        @include desktop {
            font-size: 60px;
        }
    }
    h6.counter-text {
        transition: $transition;
    }
}

.service-home-2 {
    background-color: $secondary-color;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

span.big-title {
    color: $white-color;
    font-size: 320px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 320px;
    opacity: .05;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.single-service-2 {
    padding: 60px 16%;
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid $border-color;
    transition: $transition;
    @include screen-1400 {
        padding: 60px 6%;
    }
    @include screen-1200 {
        padding: 60px 5%;
    }
    @include desktop {
        padding: 60px 5%;
    }
    @include tablet {
        padding: 40px 6%;
    }
    @include all-phone {
        padding: 40px 6%;
    }

    h2 {
        a {
            color: $home-2-text-color;
            text-transform: uppercase;
            transition: $transition;
        }
    }
    .service-image {
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) scale(.5);
        opacity: 0;
        visibility: hidden;
        transition: $transition;
        @include desktop {
            max-width: 300px;
        }
        @include tablet {
            position: inherit;
            top: 0;
            left: 0;
            transform: translate(0) scale(.5)!important;
            display: none;
            max-width: 400px;
            margin: 30px 0 10px;
        }
        @include all-phone {
            position: inherit;
            top: 0;
            left: 0;
            transform: translate(0) scale(.5)!important;
            display: none;
            max-width: 400px;
            margin: 30px 0 10px;
        }
    }

    p {
        color: $home-2-text-color;
        @include tablet {
            margin-top: 20px;
        }
        @include all-phone {
            margin-top: 20px;
        }
    }

    &.active {
        border-bottom: 1px solid transparent;
        background-color: $black-color;
        top: -1px;
        h2 {
            a {
                color: $white-color;
            }
        }
        .service-image {
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) translateY(-50%) scale(1);
            @include tablet {
                transform: translate(0) scale(1)!important;
                display: block;
            }
            @include all-phone {
                transform: translate(0) scale(1)!important;
                display: block;
            }
        }
        p {
            color: $white-color;
        }
    }
}

.choose-home-2 {
    background-color: $black-color;
    .choose-content {
        @include tablet {
            margin-top: 50px;
        }
        @include all-phone {
            margin-top: 40px;
        }
    }
}

.brand-home-2 {
    background-color: $secondary-color;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.brand-items {
    .brand-single-2 {
        margin: 0 14px 30px;
        float: left;
        overflow: hidden;
        &:hover {
            .brand-logo {
                border: 1px solid $primary-color;
            }
        }
    }
    .brand-logo {
        width: 230px;
        height: 230px;
        border: 1px solid $border-color;
        transition: $transition;
        img {
            width: auto;
            margin: auto;
            padding-top: 90px;
        }
    }
}