/* theme */
.menu-area {
    background-color: $secondary-color;
    border-bottom: 1px solid $border-color;
    padding: 15px 0;
    .logo-area {
        img {
            max-width: 200px;
        }
    }
    .nav-right-content {
        text-align: right;
        @include tablet {
            display: none;
        }
        @include all-phone {
            display: none;
        }
    }

    @include tablet {
        padding: 30px 0;
    }
    @include all-phone {
        padding: 30px 0;
    }    
}

.menu-area.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: $secondary-color;
    animation: fixed_top .8s;
}

@keyframes fixed_top {
    0% {
      top: -100%;
    }
    100% {
      top: 0;
    }
}

.hero-area {
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    .hero-content-box {
        position: relative;
        padding: 150px 0;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        @include tablet {
            padding: 120px 0 160px 10px;
        }
        @include all-phone {
            padding: 100px 0 180px 10px;
        }
    }
    p {
        max-width: 360px;
    }
    .btn-group {
        display: flex;
        align-items: center;
        gap: 30px;
        @include all-phone {
            display: inherit;
        }
        img {
            max-width: 320px;
        }
    }
    .hero-top-content {
        img.vector-shape {
            width: auto;
            margin-top: -100px;
            @include tablet {
                display: none;
            }
            @include all-phone {
                display: none;
            }
        }
        h1 {
            animation: 1.5s fadeInLeft;
            span.gradient-bg {
                background-image: linear-gradient(to right, #353501 15%, $secondary-color 50%);
                padding: 0 10px;
                border-radius: 50px;
            }
        }
    }
    .hero-bottom-content {
        h1 {
            animation: 1.5s fadeInRight;
        }
        img.vector-shape {
            width: 110%;
            margin-top: 30px;
            margin-left: -50px;
            @include tablet {
                display: none;
            }
            @include all-phone {
                display: none;
            }
        }
        p,
        .btn-group {
            animation: 1.5s fadeInUp;
            img {
                @include all-phone {
                    margin: 20px 0;
                }
            }
        }
    }
    .hero-social {
        position: absolute;
        bottom: 40px;
        right: 0;
        @include all-phone {
            bottom: 20px;
        }
        li {
            display: inline-block;
            margin: 0 10px;
            a {
                color: $white-color;
                font-size: 24px;
                transition: $transition;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    .vector-scroll-down {
        width: auto;
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }
}

.counter-area {
    background-color: $secondary-color;
    position: relative;   
    overflow: hidden; 
    img.counter-3d {
        width: auto;
        position: absolute;
        top: 120px;
        left: 80px;
        @include screen-1400 {
            width: 80px;
            top: 80px;
        }
        @include screen-1200 {
            width: 80px;
            top: 80px;
        }
        @include desktop {
            width: 80px;
            top: 80px;
        }
        @include tablet {
            display: none;
        }
        @include all-phone {
            display: none;
        }
    }
}

.counter-single {
    position: relative;
    background-color: transparent;
    text-align: center;
    margin: 0 auto 30px;
    height: 230px;
    width: 230px;
    border: 1px solid $white-color;
    border-radius: 50%;
    transition: $transition;
    &:hover {
        background-color: $primary-color;
        border: 1px solid transparent;
        span.counter,
        span.plus-sign {
            color: $secondary-color;
            -webkit-text-fill-color: $secondary-color;
            -webkit-text-stroke-width: 0px;
        }
        h6 {
            color: $secondary-color;
        }
    }
    .counter-number {
        padding-top: 60px;
    }
    span.counter,
    span.plus-sign {
        color: $white-color;
        font-size: 72px;
        line-height: 72px;
        font-weight: 700;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        transition: $transition;
    }
    h6.counter-text {
        transition: $transition;
    }
}

.service-area {
    position: relative;
    background-image: url('../images/service-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    img.service-3d {
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        @include tablet {
            display: none;
        }
        @include all-phone {
            display: none;
        }
    }
}

.portfolio-area {
    background-image: url('../images/portfolio-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $secondary-color;
    padding-bottom: 200px;
    overflow: hidden;
    .slick-slide {
        margin: 0 50px 0 0;
    }
    @include tablet {
        margin: 0; 
        padding-left: 30px;
        padding-bottom: 200px;
    }
    @include all-phone {
        margin: 0; 
        padding-left: 20px;
        padding-bottom: 80px;
    }
    .slick-current {
        .portfolio-image {
            img {
                border: 1px solid $primary-color;
            }
        }
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: -80px;
        transform: translateX(-50%);
        margin-left: -50px;
        border: 1px solid $border-color;
        border-radius: 20px;
    }
    .slick-dots li {
        display: inline;
        margin: 0 30px;
    }
    .slick-dots button {
        color: transparent;
        background-color: transparent;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        line-height: 0;
        border: none
    }
    .slick-dots .slick-active button {
        background-color: $primary-color;
    }
}

.portfolio-single {
    .portfolio-image {
        img {
            border-radius: 20px;
            border: 1px solid transparent;
            transition: $transition;
        }
    }

    h3 {
        a {
            color: $white-color;
            transition: $transition;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.section-top-btn {
    text-align: right;
    @include tablet {
        margin-top: 20px;
    }
    @include all-phone {
        margin-top: 20px;
    }
}

.brand-area {
    background-color: $black-color;
    position: relative;    
    img.brand-3d {
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        @include tablet {
            display: none;
        }
        @include all-phone {
            display: none;
        }
    }
    .brand-logo {
        width: 230px;
        height: 230px;
        border: 1px solid $white-color;
        border-radius: 50%;
        img {
            width: auto;
            margin: auto;
            padding-top: 90px;
        }
    }
    .slick-current {
        .brand-logo {
            border: 1px solid $primary-color;                
        }
    }
    .slick-slide {
        margin: 0 15px;
        @include tablet {
            margin: 0 10px;
        }
    }
}

