/* theme */
.hero-area {
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    .hero-content-box {
        position: relative;
        padding: 150px 0;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        @include tablet {
            padding: 120px 0 160px 10px;
        }
        @include all-phone {
            padding: 100px 0 180px 10px;
        }
    }
    p {
        max-width: 360px;
    }
    .btn-group {
        display: flex;
        align-items: center;
        gap: 30px;
        @include all-phone {
            display: inherit;
        }
        img {
            max-width: 320px;
        }
    }
    .hero-top-content {
        img.vector-shape {
            width: auto;
            margin-top: -100px;
            @include tablet {
                display: none;
            }
            @include all-phone {
                display: none;
            }
        }
        h1 {
            span.gradient-bg {
                background-image: linear-gradient(to right, #353501 15%, $secondary-color 50%);
                padding: 0 10px;
                border-radius: 50px;
            }
        }
    }
    .hero-bottom-content {
        img.vector-shape {
            width: 110%;
            margin-top: 30px;
            margin-left: -50px;
            @include tablet {
                display: none;
            }
            @include all-phone {
                display: none;
            }
        }
        p,
        .btn-group {
            img {
                @include all-phone {
                    margin: 20px 0;
                }
            }
        }
    }
    .hero-social {
        position: absolute;
        bottom: 40px;
        right: 0;
        @include all-phone {
            bottom: 20px;
        }
        li {
            display: inline-block;
            margin: 0 10px;
            a {
                color: $white-color;
                font-size: 24px;
                transition: $transition;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    .vector-scroll-down {
        width: auto;
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }
}

.marquee-area {
    .marque-primary-bg {
        padding: 15px 0 10px;
        background-color: $primary-color;
        h4 {
            color: $black-color;
        }
    }
    .marque-black-bg {
        padding: 15px 0 10px;
        background-color: $black-color;
        h4 {
            color: $primary-color;
            span {
                &::before {
                    background-image: url('../images/marquee-vector-02.png');
                }
            }
        }
    }
    h4 {
        span {
            display: inline-block;
            margin: 0 40px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -40px;
                width: 40px;
                height: 40px;
                background-image: url('../images/marquee-vector.png');
                background-repeat: no-repeat;
            }
        }
    }
}

.counter-area {
    background-color: $secondary-color;
    position: relative;   
    overflow: hidden; 
    img.counter-3d {
        width: auto;
        position: absolute;
        top: 120px;
        left: 80px;
        @include screen-1400 {
            width: 80px;
            top: 80px;
        }
        @include screen-1200 {
            width: 80px;
            top: 80px;
        }
        @include desktop {
            width: 80px;
            top: 80px;
        }
        @include tablet {
            display: none;
        }
        @include all-phone {
            display: none;
        }
    }
}

.counter-single {
    position: relative;
    background-color: transparent;
    text-align: center;
    margin: 0 auto 30px;
    height: 230px;
    width: 230px;
    border: 1px solid $white-color;
    border-radius: 50%;
    transition: $transition;
    &:hover {
        background-color: $primary-color;
        border: 1px solid transparent;
        span.counter,
        span.plus-sign {
            color: $secondary-color;
            -webkit-text-fill-color: $secondary-color;
            -webkit-text-stroke-width: 0px;
        }
        h6 {
            color: $secondary-color;
        }
    }
    .counter-number {
        padding-top: 62px;
    }
    span.counter,
    span.plus-sign {
        color: $white-color;
        font-size: 72px;
        line-height: 72px;
        font-weight: 700;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        transition: $transition;
    }
    h6.counter-text {
        transition: $transition;
    }
}

.service-area {
    position: relative;
    background-image: url('../images/service-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    img.service-3d {
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        @include tablet {
            display: none;
        }
        @include all-phone {
            display: none;
        }
    }
}

.portfolio-area {
    background-image: url('../images/portfolio-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $secondary-color;
    padding-bottom: 200px;
    overflow: hidden;
    .slick-slide {
        margin: 0 50px 0 0;
    }
    @include tablet {
        margin: 0; 
        padding-left: 30px;
        padding-bottom: 200px;
    }
    @include all-phone {
        margin: 0; 
        padding-left: 20px;
        padding-bottom: 80px;
    }
    .slick-current {
        .portfolio-image {
            img {
                border: 1px solid $primary-color;
            }
        }
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: -80px;
        transform: translateX(-50%);
        margin-left: -50px;
        border: 1px solid $border-color;
        border-radius: 20px;
    }
    .slick-dots li {
        display: inline;
        margin: 0 30px;
    }
    .slick-dots button {
        color: transparent;
        background-color: $primary-color;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        line-height: 0;
        border: none;
        opacity: 0;
        visibility: hidden;
    }
    .slick-dots .slick-active button {
        opacity: 1;
        visibility: visible;
    }
}

.portfolio-single {
    .portfolio-image {
        img {
            border-radius: 20px;
            border: 1px solid transparent;
            transition: $transition;
        }
    }

    h3 {
        a {
            color: $white-color;
            transition: $transition;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.section-top-btn {
    text-align: right;
    @include tablet {
        margin-top: 20px;
    }
    @include all-phone {
        margin-top: 20px;
    }
}

.brand-area {
    background-color: $black-color;
    position: relative;    
    img.brand-3d {
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        @include tablet {
            display: none;
        }
        @include all-phone {
            display: none;
        }
    }
    .brand-logo {
        width: 220px;
        height: 220px;
        border: 1px solid $white-color;
        border-radius: 50%;
        img {
            width: auto;
            margin: auto;
            padding-top: 85px;
        }
    }
    .slick-current {
        .brand-logo {
            border: 1px solid $primary-color;                
        }
    }
    .slick-slide {
        margin: 0 15px;
        @include tablet {
            margin: 0 10px;
        }
    }
}

.testimonial-area {
    position: relative;
    background-image: url('../images/testimonial-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    img.testimonial-3d {
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        @include tablet {
            display: none;
        }
        @include all-phone {
            display: none;
        }
    }

    .slick-slide {
        border: 1px solid $primary-color;
    }

    .slick-dots {
        position: absolute;
        top: 50%;
        right: -70px;
        transform: translateY(-50%);
    }
    .slick-dots li {
        margin: 20px 0;
    }
    .slick-dots button {
        color: transparent;
        background-color: $border-color;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        cursor: pointer;
        line-height: 15px;
        border: none;
        transform: scale(.5);
    }
    .slick-dots .slick-active button {
        background-color: $primary-color;
    }
}

.testimonial-slide {
    position: relative;
    background-image: url('../images/testimonial-slide-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 150px;
    border-radius: 20px;
    @include desktop {
        padding: 60px;
    }
    @include tablet {
        padding: 50px;
    }
    @include all-phone {
        padding: 40px;
    }

    span.testimonial-quote-icon {
        font-size: 80px;
        display: block;
        color: rgba($primary-color, .4);
    }

    span.quote-text {
        font-size: 30px;
        font-weight: 500;
    }

    .testimonial-content {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include all-phone {
            display: inherit;
        }
        .content-left {
            display: flex;
            align-items: center;
            gap: 20px;
            @include all-phone {
                margin-bottom: 30px;
            }
            .author-img {
                img {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    border: 1px solid $primary-color;
                }
            }
        }
        .author-text {
            p {
                text-transform: capitalize;
            }
        }
    }
}

.team-area {
    background-color: $black-color;
}

.team-member {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    &:hover {
        .hover-state {
            opacity: 1;
            visibility: visible;
        }
        img {
            transform: rotate(2deg) scale(1.1);
        }
    }
    img {
        transition: $transition;
    }
    .hover-state {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(rgba($primary-color, 0.2), rgba($black-color, .2));
        border-radius: 20px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 0, 0.1);
        border-bottom: transparent;
        padding: 24px;
        transition: $transition;
        opacity: 0;
        visibility: hidden;
        h4 {
            a {
                color: $white-color;
                transition: $transition;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        span {
            text-transform: capitalize;
        }
        .team-social {
            margin-top: 10px;
            li {
                display: inline;
                margin-right: 15px;
                a {
                    color: $white-color;
                    font-size: 20px;
                    transition: $transition;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.cta-area {
    background-image: url('../images/cta-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.cta-box {
    background-image: url('../images/cta-box-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 80px 150px;
    text-align: center;
    border-radius: 20px;
    @include desktop {
        padding: 80px;
    }
    @include tablet {
        padding: 80px 50px;
    }
    @include all-phone {
        padding: 80px 20px;
    }
    h2 {
        color: $white-color;
    }
}

.blog-area {
    background-color: $black-color;
    .slick-current {
        .blog-image {
            img {
                border: 1px solid $primary-color;
            }
        }
        h4 {
            a {
                color: $primary-color;
            }
        }
    }
    .slick-slide {
        margin: 0 20px;
        @include tablet {
            padding-left: 20px;
        }
        @include all-phone {
            padding-left: 20px;
        }
    }
}

.blog-single-slide {
    max-width: 680px;
    .blog-image {
        img {
            border-radius: 20px;
            border: 1px solid transparent;
        }
    }
    .blog-meta {
        margin: 20px 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
            a {
                color: $primary-color;
                text-transform: capitalize;
            }
        }
        li.separator {
            margin: 0 10px;
        }
    }
    h4 {
        a {
            color: $white-color;
            transition: $transition;
            &:hover {
                color: $primary-color;
            }
        }
    }
    .blog-tags {
        margin-top: 20px;
        li {
            display: inline;
            margin-right: 10px;
            a {
                display: inline-block;
                color: $white-color;
                font-size: 14px;
                padding: 5px 10px;
                background-color: $secondary-color;
                text-transform: capitalize;
                border-radius: 30px;
                transition: $transition;
                &:hover {
                    color: $secondary-color;
                    background-color: $primary-color;
                }
            }
        }
    }
    .blog-btn {
        font-size: 20px;
        font-weight: 500;
        color: $white-color;
        text-transform: capitalize;
        transition: $transition;
        display: inline-block;
        &:hover {
            color: $primary-color;
        }
    }
}

.get-in-touch-area {
    background-image: url('../images/get-in-touch-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 200px 0 400px;
    background-color: $secondary-color;
    text-align: center;
    @include tablet {
        padding: 80px 0 250px;
    }
    @include all-phone {
        padding: 80px 0 250px;
    }
    a.big-title {
        color: $white-color;
        font-size: 120px;
        border-bottom: 5px solid $white-color;
        position: relative;
        padding-right: 90px;
        transition: $transition;
        &:hover {
            color: $primary-color;
        }
        span {
            display: inline-block;
            margin-left: 10px;
            font-size: 100px;
            position: absolute;
            top: 8px;
            transform: rotate(-45deg)
        }
        @include tablet {
            font-size: 72px;
            padding-right: 64px;
            span {
                font-size: 60px;
            }
        }
        @include all-phone {
            font-size: 48px;
            padding-right: 45px;
            span {
                font-size: 42px;
                top: 5px;
            }
        }
    }
}

.welcome-section-about {
    background-color: $secondary-color;
    .welcome-images {
        position: relative;
        @include tablet {
            margin-top: 90px;
        }
        @include all-phone {
            margin-top: 90px;
        }
        img.welcome-vector {
            width: 120px;
            position: absolute;
            top: -65px;
            left: 50%;
            transform: translateX(-50%);
        }
        img.welcome-image {
            border-radius: 20px;
        }
    }
}

.video-home-3.video-about-page {
    background-color: $secondary-color;
    .video-bg {
        background-image: url('../images/video-bg-about-page.png');
        padding: 200px 0;
        border-radius: 30px;
    }
}

.choose-section-about {
    background-color: $black-color; 
}

.single-choose-item {
    padding: 40px 30px;
    text-align: center;
    border: 1px solid $border-color;
    border-radius: 20px;
    margin-bottom: 30px;
    transition: $transition;
    img {
        width: auto;
        margin: 0 auto 20px;
        transition: $transition;
        opacity: .5;
    }
    h4 {
        transition: $transition;
        opacity: .5;
    }
    p {
        transition: $transition;
        opacity: .5;
    }
    &.active {
        border: 1px solid $primary-color;
        img {
            opacity: 1;
        }
        h4 {
            opacity: 1;
        }
        p {
            opacity: 1;
        }
    }
}

.working-process-services {
    background-color: $secondary-color;

    .slick-slide {
        padding: 40px 30px;
        border: 1px solid $border-color;
        border-radius: 20px;
        margin-bottom: 30px;
        transition: $transition;
        margin: 15px 0;
    }

    .slick-current {
        border: 1px solid $primary-color;
        h3 {
            color: $white-color;
        }
        p {
            opacity: 1;
        }
    }

    .slick-dots {
        position: absolute;
        top: 50%;
        left: -50px;
        transform: translateY(-50%);
        margin-left: -50px;
        border: 1px solid $border-color;
        border-radius: 20px;
    }
    .slick-dots li {
        margin: 30px 0;
    }
    .slick-dots button {
        color: transparent;
        background-color: $primary-color;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        line-height: 0;
        border: none;
        opacity: 0;
        visibility: hidden;
    }
    .slick-dots .slick-active button {
        opacity: 1;
        visibility: visible;
    }
}

.working-process-single-slide {
    h3 {
        transition: $transition;
    }
    p {
        transition: $transition;
        opacity: .5;
    }
}
