// light theme color
$primary-color: #141414;
$secondary-color: #ffffff;
$heading-color: #141414;
$white-color: #000000;
$black-color: #ffffff;
$border-color: #4F4F4F;
$home-2-text-color: #6D6D6D;
$process-slide-bg: #FBFFE7;

body.light-theme {
    
}