/* tab & accordion */
.faq-area {
        
    .tab-menu {
        margin-bottom: 30px;
        border: 1px solid $border-color;
        border-radius: 5px;
        padding: 10px 0 0;
        width: fit-content;
    
        .tab-menu-item {
            cursor: pointer;
            transition: $transition;
            border: 1px solid $border-color;
            border-radius: 5px;
            margin: 0 9px;
            padding: 7px 10px;
            display: inline-block;
            margin-bottom: 10px;
            
            &.active, &:hover {
                background-color: $primary-color;
                color: $black-color;
            }
        }
    }
    
    .tab-content {
        width: 100%;
        .tab-content-item {
            display: none;
    
            &.active {
                display: block;
            }
        }
    }
    
    .accordion {
        .accordion-item {
            background-color: $secondary-color;
            margin-bottom: 20px;
            border-radius: 10px;
            overflow: hidden;
    
            .accordion-header {
                padding: 15px 30px;
                cursor: pointer;
                background-color: $secondary-color;
                position: relative;
                font-size: 24px;
                font-weight: 700;
                color: $heading-color;
                
                &:after {
                    content: '+';
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 30px;
                    color: $heading-color;
                }
    
                &.active:after {
                    content: '×';
                    color: $primary-color;
                }
                &.active {
                    color: $primary-color;
                }
            }
    
            .accordion-content {
                display: none;
                padding: 0 30px 15px;
                background-color: $secondary-color;
                color: $heading-color;
    
                &.active {
                    display: block;
                }
            }
        }
    }
}