/* form */
.contact-form-3 {
    @include tablet {
        margin-top: 40px;
    }
    @include all-phone {
        margin-top: 40px;
    }
}

.contact-form-3 form {
    display: flex;
    flex-direction: column;
}

.contact-form-3 .form-group {
    margin-bottom: 20px;
}

.contact-form-3 label {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}

.contact-form-3 input,
.contact-form-3 textarea {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $border-color;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    margin-bottom: 10px;
}

.contact-form-3 input::placeholder,
.contact-form-3 textarea::placeholder {
    color: rgba($white-color, .5);
}

.contact-form-3 button.primary-btn {
    max-width: 300px;
    margin-top: 20px;
}

.contact-form-3 .primary-btn i {
    margin-left: 10px;
}    