/* footer */
.footer-area {
    background: $secondary-color;
}

.footer-widget-box {
    margin-bottom: 30px;
}

.footer-widget {
    position: relative;
    z-index: 1;
}

.footer-logo {
    img {
        width: 200px;
        margin-bottom: 30px;
        @include portrait-phone {
            .footer-logo img {
                width: 180px;
            }
        }
    }
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    a {
        font-size: 20px;
        color: $white-color;
        transition: $transition;
        &:hover {
            color: $primary-color
        }
    }
}

.footer-widget-title {
    color: $white-color;;
    margin-bottom: 30px;
}

.footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    a {
        color: $white-color;
        text-transform: capitalize;
        transition: $transition;
        &:hover {
            color: $primary-color;
        }
    }
}

.footer-contact {
    li {
        color: $white-color;
        margin-bottom: 20px;
        a {
            color: $white-color;
            transition: $transition;
            span.contact-icon {
                font-size: 18px;
                margin-right: 10px;
                transition: $transition;
                color: $white-color;
                display: inline-block;
            }
        }
    }
}

.copyright {
    background: $secondary-color;
    .copyright-content {
        padding: 30px 0;
        border-top: 1px solid $border-color;
        .copyright-text {
            color: $white-color;
            margin-bottom: 0px;
            text-transform: capitalize;
            a {
                color: $primary-color;
            }
        }
    }
}

.footer-menu {
    margin: 0;
    padding: 0;
    text-align: right;
    @include tablet {
        text-align: left;
        margin-top: 20px;
    }
    @include all-phone {
        text-align: left;
        margin-top: 20px;
    }
    li {
        display: inline-block;
        margin-left: 20px;
        @include tablet {
            margin-left: 0;
            margin-right: 20px;
        }
        @include all-phone {
            margin-left: 0;
            margin-right: 20px;
        }
        a {
            color: $white-color;
            transition: $transition;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.footer-home-2 {
    background: $secondary-color;
    h6 {
        color: $white-color;
        margin: 30px 0 10px;
    }

    .hero-social-2 {
        animation: 0s;
    }
}

.subscribe-form {
    margin-top: 20px;
    input {
        color: $white-color;
        background-color: transparent;
        padding: 15px 0;
        border: transparent;
        border-bottom: 1px solid $border-color;
        margin-right: 40px;
    }
    .primary-btn {
        position: relative;
        top: 7px;
        @include portrait-phone {
            margin-top: 20px;
        }
    }
}

.footer-widget-box-2.contact-widget {
    @include tablet {
        margin-top: 80px;
    }
    @include all-phone {
        margin-top: 80px;
    }
    h2 {
        color: $white-color;
    }
    ul {
        margin-top: 30px;
        li {
            margin: 10px 0;
            a {
                color: $white-color;
                transition: $transition;
                font-size: 24px;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

.copyright-2 {
    background: $secondary-color;
    .copyright-content {
        padding: 30px 0 115px;
        border-top: 1px solid $border-color;
        .copyright-text {
            color: $white-color;
            margin-bottom: 0px;
            text-transform: capitalize;
            a {
                color: $primary-color;
            }
        }
    }
}